.login
  .title
    Login
  = form_tag login_path do
    .cpf
      .label
        CPF
      .field
        = text_field_tag :cpf
    .passwd
      .label
        Senha
      .field
        = password_field_tag :passwd
    .submit
      = button_tag "Login"
