.product
  .name
    = link_to purchase_product.nome, product_path(purchase_product.product_id)
  .amount
    = purchase_product.product_amount
    Unidades
  .price
    Valor total
    = format_price(purchase_product.price)
    Valor unitário
    = format_price(purchase_product.product_price)