.product
  .name
    = link_to purchase_product.nome, product_path(purchase_product.product_id)
  .price
    .field
      Valor unitário:
    .value
      = format_price(purchase_product.product_price)
    .field
      Valor total:
    .value
      = format_price(purchase_product.price)
  .amount
    = pluralize(purchase_product.product_amount, 'Unidade')
  .clear