.purchases
  .cart
    .title
      Meu carrinho
  
    .products
      = render :partial => 'cart_product', :collection => @cart_products, :spacer_template => 'layouts/separator'  
  .finish
    = button_to('Ir para entrega', edit_purchase_address_path(@purchase), :method => :get, :disable_with => 'Espere...')