.purchases
  .title
    Minhas Compras
  - if @purchases.empty?
    .empty
      Você ainda não realizou nenhuma compra
  -else
    .purchase-items
      = render :partial => 'purchases/purchase', :collection => @purchases, :spacer_template => 'layouts/separator'
