.purchases
  .title
    Minhas Compras
  - if @purchases.empty?
    Você ainda não realizou nenhuma compra
  -else
    .items
      = render :partial => 'purchases/purchase', :collection => @purchases, :spacer_template => 'layouts/separator'
