.purchase-payment
  .title
    Modo de pagamento

  = form_tag purchase_payment_path(@purchase), :method => :put do
    = select_tag( :payment_type, options_for_select(@current_user.available_payment_types , @purchase.payment_type))

    = button_tag "Ir para detalhes do pagamento", :disable_with => "Espere..."
