.products
  .separator
    margin: 20px
    border-bottom: 1px solid $grey-color

  .title
    text-align: center
    font-size: 24px
    line-height: 20px
    padding: 15px 0
    color: $dark-red-color

  .price
    color: $green-color

  .unavailable
    color: $red-color

  .simple-product
    padding: 0 15px

    .small-image-container
      float: left
      width: 15%
      max-height: 200px
      overflow: hidden
      padding: 0 15px
      img
        width: 100%

    .details
      float: left
      width: 80%

      .name
        a
          color: $dark-blue-color
          font-size: 14px
          text-decoration: none
          font-weight: bold
          &:hover
            color: $blue-color
            text-decoration: underline

      .spec
        padding: 5px 0
        font-size: 12px

      .brand-name, .category-name
        text-align: center
        font-size: 14px
        a
          font-size: 14px
          color: $dark-red-color
          text-decoration: none
          &:hover
            color: $red-color
            text-decoration: underline

  .product
    padding: 30px
    .name
      color: $dark-blue-color
      font-size: 18px
      line-height: 16px
      font-weight: bold
      text-align: center
      padding: 10px

    .image-container
      text-align: center
      margin: 20px

    .spec
      padding: 5px 0
      font-size: 12px
    .brand-name, .category-name
      text-align: center
      font-size: 14px
      a
        font-size: 14px
        color: $dark-red-color
        text-decoration: none
        &:hover
          color: $red-color
          text-decoration: underline

    .button_to
      margin: 10px
      text-align: center

  .items
    margin-bottom: 20px
