.customer-services
  .title
    Atualizar Solicitação

  = form_tag customer_service_path(@customer_service.id), :method => :put do
    .status
      .field
        Status:
      .value
        = select_tag :status, options_for_select(CustomerService.available_status.zip(0...CustomerService.available_status.size))

    .descricao
      .field
        Descrição:
      .value
        = text_area_tag :descricao

    .button
      = button_tag "Enviar", :disable_with => "Espere..."
